#hero{
    height: 800px;
    background-image: url("ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content{
    text-align: center;
    width: 900px;
    background-color: rgba(20, 32, 37, 0.8);
    box-shadow: 2px 4px 8px #1c1c1c;
    border-radius: 8px;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#hero-content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}
#hero-content p{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}
#hero-content a{
    color: #000;
    text-decoration: none;
    background-color: #886784;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #1c1c1c;
    margin-bottom: 32px;
}
#hero-content a:hover{
    background-color: #865f81 ;
}

#highlights{
    padding: 24px;
    background: linear-gradient(45deg , #E2E0F4 , #E4FFFD);
}

#highlights h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: #525252;
    margin: 24px 0;
}

#highlights ul{
    list-style: none;
}

#destinations{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
}

.destination{
    margin: 0 20px;
    text-transform: uppercase;
}
.destination p{
    text-align: center;
    font-size: 24px;
    color: #525252;
    margin: 20px 0;
}
.destination strong{
    color: #427994;
}
.destination img{
    height: 200px;
    width: 250px;
    box-shadow: 2px 2px 8px #1c1c1c;
    border-radius: 10px;
    object-fit: fill;
}