header{
    margin: 50px;
}

h1{
    font-size: 48px;
    margin: 0;
}

#description{
    margin-bottom: 50px;
}

a{
    padding: 12px 30px;
    background-color: #BB8376;
    color: #FFD9BA;
    border: 1px solid #783f32;
    border-radius: 5px ;
    display: inline-block;
    margin: 0;
}
a:hover{
    background-color: #5C0000;
    text-decoration: none;
}

ol{
    list-style: none;
    color: #783f32;
    width: 800px;
    margin: 36px auto 0 auto;
}
li{
    padding: 8px;
    margin: 25px;
    background-color: #FFD9BA;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #574141;
}
li:hover{
    border: 1px solid #BB8376;
} 

h2{
    color: #574141;
}

main p{
    margin: 10px;
    color: #2B2525;
}

.highlight-goals{
    background-color: #debca0;
}