body{
    background-color: #fee9df;
    text-align: center;
    color: #534b4b;
    margin: 30px;
}

h1{
    font-family: 'Raleway', sans-serif; 
}

p{
    font-family: 'Raleway', sans-serif; 
    font-size: 20px; 
}

a{
    color: #FF8066;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

