

main{
    width: 800px;
    margin: 200px auto 72px auto;
    background-color: #f88874;
    padding: 24px;
    border: 3px solid #534b4b;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #534b4b;
}

img{
    width: 200px;
    height: 200px;
    border: 3px solid #534b4b;
    border-radius: 50%;
    position: relative;
    margin-top: -134px;
}

h1{
    font-size: 30px;
}

span{
    color: #ac1b02;
}

#danasnji-zadatak{
    color: #C34A36;
    font-size: 36px;
    font-weight: bold;
}

